SenseHat-flow.json
[
    {
       "id":"75e6d5e6.c8109c",
       "type":"tab",
       "label":"SenseHAT Flow ",
       "disabled":false,
       "info":""
    },
    {
       "id":"8edbfa46.eff0a",
       "type":"function",
       "z":"75e6d5e6.c8109c",
       "name":"temp and humidity preparation",
       "func":"if( msg.payload === false ) {\n    return null;\n}\n    \nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.payload = Math.round(msg.payload.temp*1.00);\nmsg1.topic = \"Centigrade\";\nmsg2.payload = Math.round(((msg.payload.temp*1.00) * 9/5) + 32);\nmsg2.topic = \"Farenheit\";\nmsg3.payload = Math.round(msg.payload.humidity*1.00);\nmsg3.topic = \"Humidity\";\n\nreturn [msg1, msg2, msg3];",
       "outputs":3,
       "noerr":0,
       "x":490,
       "y":340,
       "wires":[
          [
             "de19aca.52fa65",
             "148e684a.08bfd8"
          ],
          [
             "593e0336.34c2b4",
             "faf65284.9b26e8"
          ],
          [
             "b05fb612.f4eb1",
             "8f18e3f.921552"
          ]
       ]
    },
    {
       "id":"de19aca.52fa65",
       "type":"debug",
       "z":"75e6d5e6.c8109c",
       "name":"Centigrade ",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "x":790,
       "y":300,
       "wires":[
 
       ]
    },
    {
       "id":"593e0336.34c2b4",
       "type":"debug",
       "z":"75e6d5e6.c8109c",
       "name":"Farenheit ",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "x":780,
       "y":340,
       "wires":[
 
       ]
    },
    {
       "id":"b05fb612.f4eb1",
       "type":"debug",
       "z":"75e6d5e6.c8109c",
       "name":"Humidity",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "x":780,
       "y":380,
       "wires":[
 
       ]
    },
    {
       "id":"3fdb2ae3.4c0236",
       "type":"comment",
       "z":"75e6d5e6.c8109c",
       "name":"Getting environmental data off Raspberry Pi 3 with a Sense Hat",
       "info":"",
       "x":310,
       "y":140,
       "wires":[
 
       ]
    },
    {
       "id":"148e684a.08bfd8",
       "type":"ui_gauge",
       "z":"75e6d5e6.c8109c",
       "name":"",
       "group":"90e34d40.4bd6a8",
       "order":0,
       "width":0,
       "height":0,
       "gtype":"gage",
       "title":"Centigrade",
       "label":"units",
       "format":"{{value}}",
       "min":0,
       "max":"100",
       "colors":[
          "#5facd9",
          "#e6de10",
          "#ca3838"
       ],
       "seg1":"",
       "seg2":"",
       "x":790,
       "y":440,
       "wires":[
 
       ]
    },
    {
       "id":"faf65284.9b26e8",
       "type":"ui_gauge",
       "z":"75e6d5e6.c8109c",
       "name":"",
       "group":"90e34d40.4bd6a8",
       "order":1,
       "width":0,
       "height":0,
       "gtype":"gage",
       "title":"Farenheit",
       "label":"units",
       "format":"{{value}}",
       "min":0,
       "max":"100",
       "colors":[
          "#08bcb8",
          "#e6e600",
          "#ca3838"
       ],
       "seg1":"",
       "seg2":"",
       "x":780,
       "y":480,
       "wires":[
 
       ]
    },
    {
       "id":"8f18e3f.921552",
       "type":"ui_gauge",
       "z":"75e6d5e6.c8109c",
       "name":"",
       "group":"90e34d40.4bd6a8",
       "order":2,
       "width":0,
       "height":0,
       "gtype":"gage",
       "title":"Humidity",
       "label":"units",
       "format":"{{value}}",
       "min":0,
       "max":"100",
       "colors":[
          "#1e9db5",
          "#e6e600",
          "#ca3838"
       ],
       "seg1":"",
       "seg2":"",
       "x":780,
       "y":520,
       "wires":[
 
       ]
    },
    {
       "id":"d9140fae.8405",
       "type":"inject",
       "z":"75e6d5e6.c8109c",
       "name":"SenseHat Simulator",
       "topic":"",
       "payload":"{\"humidity\":\"24.28355598449707\",\"latitude\":\"41.47081910289089\",\"sensorLocalTime\":\"2019-12-04 18:02\",\"elevation\":\"1180\",\"temp\":\"31.355670928955078\",\"sensorID\":\"PiSenseHat_001\",\"longitude\":\"-74.8847645724569\"}",
       "payloadType":"json",
       "repeat":"",
       "crontab":"",
       "once":false,
       "onceDelay":0.1,
       "x":190,
       "y":340,
       "wires":[
          [
 
          ]
       ]
    },
    {
       "id":"1631f6a1.1893a1",
       "type":"debug",
       "z":"75e6d5e6.c8109c",
       "name":"",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "targetType":"full",
       "x":150,
       "y":260,
       "wires":[
 
       ]
    },
    {
       "id":"25e091fa.019276",
       "type":"http in",
       "z":"75e6d5e6.c8109c",
       "name":"sense-hat POST",
       "url":"/sense-hat",
       "method":"post",
       "upload":false,
       "swaggerDoc":"",
       "x":160,
       "y":200,
       "wires":[
          [
             "3e482d39.ed0ffa",
             "1631f6a1.1893a1",
             "8edbfa46.eff0a"
          ]
       ]
    },
    {
       "id":"3e482d39.ed0ffa",
       "type":"http response",
       "z":"75e6d5e6.c8109c",
       "name":"",
       "statusCode":"200",
       "headers":{
          "done":"OK-MRB"
       },
       "x":780,
       "y":200,
       "wires":[
 
       ]
    },
    {
       "id":"90e34d40.4bd6a8",
       "type":"ui_group",
       "z":"",
       "name":"Sense Hat Simulator",
       "tab":"262952a9.f1dcbe",
       "order":1,
       "disp":true,
       "width":"10",
       "collapse":false
    },
    {
       "id":"262952a9.f1dcbe",
       "type":"ui_tab",
       "z":"",
       "name":"SenseHat",
       "icon":"dashboard",
       "order":9,
       "disabled":false,
       "hidden":false
    }
 ]