SenseHAT-Simulator-flow.json
[
    {
       "id":"381978c3.0f77d8",
       "type":"tab",
       "label":"SenseHat Simulator",
       "disabled":false,
       "info":""
    },
    {
       "id":"6f7c4d09.962cac",
       "type":"function",
       "z":"381978c3.0f77d8",
       "name":"temp and humidity preparation",
       "func":"if( msg.payload === false ) {\n    return null;\n}\n    \nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.payload = Math.round(msg.payload.temp*1.00);\nmsg1.topic = \"Centigrade\";\nmsg2.payload = Math.round(((msg.payload.temp*1.00) * 9/5) + 32);\nmsg2.topic = \"Farenheit\";\nmsg3.payload = Math.round(msg.payload.humidity*1.00);\nmsg3.topic = \"Humidity\";\n\nreturn [msg1, msg2, msg3];",
       "outputs":3,
       "noerr":0,
       "x":450,
       "y":200,
       "wires":[
          [
             "4c399554.204f7c",
             "ce58aa98.7dccf"
          ],
          [
             "bfec9a7e.8e4948",
             "bbf5636.f00802"
          ],
          [
             "4d27fd16.c67994",
             "97a4017.9e4698"
          ]
       ]
    },
    {
       "id":"4c399554.204f7c",
       "type":"debug",
       "z":"381978c3.0f77d8",
       "name":"Centigrade ",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "x":750,
       "y":160,
       "wires":[
 
       ]
    },
    {
       "id":"bfec9a7e.8e4948",
       "type":"debug",
       "z":"381978c3.0f77d8",
       "name":"Farenheit ",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "x":740,
       "y":200,
       "wires":[
 
       ]
    },
    {
       "id":"4d27fd16.c67994",
       "type":"debug",
       "z":"381978c3.0f77d8",
       "name":"Humidity",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "x":740,
       "y":240,
       "wires":[
 
       ]
    },
    {
       "id":"ce58aa98.7dccf",
       "type":"ui_gauge",
       "z":"381978c3.0f77d8",
       "name":"",
       "group":"90e34d40.4bd6a8",
       "order":0,
       "width":0,
       "height":0,
       "gtype":"gage",
       "title":"Centigrade",
       "label":"units",
       "format":"{{value}}",
       "min":0,
       "max":"100",
       "colors":[
          "#5facd9",
          "#e6de10",
          "#ca3838"
       ],
       "seg1":"",
       "seg2":"",
       "x":750,
       "y":300,
       "wires":[
 
       ]
    },
    {
       "id":"bbf5636.f00802",
       "type":"ui_gauge",
       "z":"381978c3.0f77d8",
       "name":"",
       "group":"90e34d40.4bd6a8",
       "order":1,
       "width":0,
       "height":0,
       "gtype":"gage",
       "title":"Farenheit",
       "label":"units",
       "format":"{{value}}",
       "min":0,
       "max":"100",
       "colors":[
          "#08bcb8",
          "#e6e600",
          "#ca3838"
       ],
       "seg1":"",
       "seg2":"",
       "x":740,
       "y":340,
       "wires":[
 
       ]
    },
    {
       "id":"97a4017.9e4698",
       "type":"ui_gauge",
       "z":"381978c3.0f77d8",
       "name":"",
       "group":"90e34d40.4bd6a8",
       "order":2,
       "width":0,
       "height":0,
       "gtype":"gage",
       "title":"Humidity",
       "label":"units",
       "format":"{{value}}",
       "min":0,
       "max":"100",
       "colors":[
          "#1e9db5",
          "#e6e600",
          "#ca3838"
       ],
       "seg1":"",
       "seg2":"",
       "x":740,
       "y":380,
       "wires":[
 
       ]
    },
    {
       "id":"dbc8f6f7.a5864",
       "type":"inject",
       "z":"381978c3.0f77d8",
       "name":"SenseHat Simulator",
       "topic":"",
       "payload":"{\"humidity\":\"24.28355598449707\",\"latitude\":\"41.47081910289089\",\"sensorLocalTime\":\"2019-12-04 18:02\",\"elevation\":\"1180\",\"temp\":\"31.355670928955078\",\"sensorID\":\"PiSenseHat_001\",\"longitude\":\"-74.8847645724569\"}",
       "payloadType":"json",
       "repeat":"",
       "crontab":"",
       "once":false,
       "onceDelay":0.1,
       "x":150,
       "y":200,
       "wires":[
          [
             "6f7c4d09.962cac"
          ]
       ]
    },
    {
       "id":"90e34d40.4bd6a8",
       "type":"ui_group",
       "z":"",
       "name":"Sense Hat Simulator",
       "tab":"262952a9.f1dcbe",
       "order":1,
       "disp":true,
       "width":"10",
       "collapse":false
    },
    {
       "id":"262952a9.f1dcbe",
       "type":"ui_tab",
       "z":"",
       "name":"SenseHat",
       "icon":"dashboard",
       "order":9,
       "disabled":false,
       "hidden":false
    }
 ]